@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #8263a3;
    --text-dark: #232637;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    position: absolute;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #dbdce0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::after {
    position: fixed;
    content: "";
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: var(--text-dark);
    z-index: -1;
    animation: body-bg 1s ease-in-out forwards;
}

@keyframes body-bg {
    0% {
        width: 0vw;
    }
    100% {
        width: 50vw;
    }
}

body::before {
    position: fixed;
    content: "0";
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: clamp(30rem, 70vw, 70rem);
    font-weight: 200;
    color: var(--white);
    z-index: -1;
    opacity: 0.5;
}

.container {
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 2rem 0;
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.nav_links {
    position: relative;
    list-style: none;
    display: flex;
    align-items: space-between;
    gap: 1.5rem;
}

.nav_links a {
    font-weight: 500;
}

.nav_links .logo {
    font-size: 1.2rem;
    font-weight: 800;
}

.nav_left a {
    color: black;
}

.nav_right a {
    color: var(--white);
}

.nav_links a:hover {
    color: var(--primary-color);
}

.letter-p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(20rem, 40vw, 40rem);
    line-height: 1;
    font-weight: 900;
    color: var(--primary-color);
    z-index: 0;
}

.container img {
    position: absolute;
    width: clamp(100px, 30vw, 250px);
    max-width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.8));
    z-index: 1;
}

.container h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: clamp(2rem, 8vw, 5rem);
    font-weight: 700;
    color: var(--white);
    letter-spacing: clamp(5px, 2vw, 25px);
    z-index: 1;
}

.text__left {
    transform: translate(calc(-50% - clamp(130px, 30vw, 250px)), -50%);
    color: var(--text-dark) !important;
}

.text__right {
    transform: translate(calc(-50% + clamp(130px, 30vw, 250px)), -50%);
}

.container .explore {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + clamp(150px, 20vh, 225px)));
    color: var(--text-dark);
    background-color: var(--white);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    width: clamp(100px, 10%, 30%, 300px);
    z-index: 2;
}

.container .services {
    top: 37%;
    right: clamp(-40px, -5vw, 0px);
    transform: translate(0, -50%) rotate(90deg);
    padding: calc(1rem - 4px) calc(2rem - 4px);
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    z-index: 2;
}

.container .apptomate {
    top: 60%;
    left: clamp(-40px, -5vw, 0px);
    transform: translate(0, -50%) rotate(-90deg);
    padding: calc(1rem - 4px) calc(2rem - 4px);
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    z-index: 2;
}

.container h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
    z-index: 1;
}

.container h5::after {
    position: absolute;
    content: "";
    height: 1px;
    width: clamp(30px, 5vw, 100px);
    top: 50%;
}

.feature-1 {
    color: var(--text-dark);
    transform: translate(calc(-50% - clamp(150px, 30vw, 300px)), calc(-50% - clamp(100px, 20vh, 200px)));
}

.feature-2 {
    color: var(--white);
    transform: translate(calc(-50% + clamp(150px, 30vw, 300px)), calc(-50% - clamp(100px, 20vh, 200px)));
}

.feature-3 {
    color: var(--text-dark);
    transform: translate(calc(-50% - clamp(150px, 30vw, 300px)), calc(-50% + clamp(100px, 20vh, 200px)));
}

.feature-4 {
    color: var(--white);
    transform: translate(calc(-50% + clamp(150px, 30vw, 300px)), calc(-50% + clamp(100px, 20vh, 200px)));
}

.feature-1::after,
.feature-3::after {
    right: 0;
    transform: translate(calc(100% + clamp(10px, 3vw, 40px)), -50%);
    background-color: var(--text-dark);
}

.feature-2::after,
.feature-4::after {
    left: 0;
    transform: translate(calc(-100% - clamp(10px, 3vw, 40px)), -50%);
    background-color: var(--white);
}

.intro_heading {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    font-weight: 400;
    margin-left: 15px;
    top: clamp(500px, 85vh, 700px);
    left: 0;
    width: 100%;
    padding: 0 clamp(15px, 5vw, 50px);
    text-align: left;
    opacity: 0;
    animation: fade-in 0.3s ease-in-out forwards;
    animation-delay: 8s;
}

.intro_heading h2 {
    font-size: clamp(1.2rem, 4vw, 2rem);
    margin-bottom: 0.5rem;
}

.intro_heading p {
    font-size: clamp(0.8rem, 2vw, 1rem);
    max-width: 100%;
    line-height: 1.5;
}

span {
    color: red;
    font-weight: 700;
}

.footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    padding-inline: 1rem;
    bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.footer p {
    font-size: clamp(0.7rem, 2vw, 0.9rem);
    color: var(--text-dark);
}

.footer__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(1rem, 3vw, 2rem);
    flex-wrap: wrap;
}

.footer__links li {
    opacity: 0;
    animation: fade-in 0.3s ease-in-out forwards;
}

.footer__links li:nth-child(1) {
    animation-delay: 6s;
}

.footer__links li:nth-child(2) {
    animation-delay: 6.5s;
}

.footer__links li:nth-child(3) {
    animation-delay: 7s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.footer__links a {
    color: var(--white);
    font-size: clamp(0.7rem, 2vw, 1rem);
}

.footer__links a:hover {
    color: var(--primary-color);
}

/* Media Queries */
@media screen and (max-width: 768px) {
    nav {
        justify-content: space-between;
    }
    
    .nav_left, .nav_right {
        justify-content: space-between;
        width: 100%;
    }
    
    .intro_heading {
        display: flex;
        top: clamp(550px, 80vh, 750px);
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    
    .footer__links {
        justify-content: center;
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .intro_heading {
        top: clamp(400px, 80vh, 650px);
    }
}

/* For very large screens */
@media screen and (min-width: 1800px) {
    .container {
        max-width: 1600px;
    }
    
    .letter-p {
        font-size: 35rem;
    }

}

/* Handle very small screens */
@media screen and (max-width: 400px) {
    .nav_links {
        gap: 0.8rem;
    }
    
    .intro_heading {
        top: clamp(20px, 45vh, 650px);
    }
    .container .services,
    .container .apptomate {
        font-size: 0.9rem;
        padding: 0.7rem 1.5rem;
    }
    
    .container h5 {
        font-size: 1rem;
    }
    
    .feature-1::after,
    .feature-2::after,
    .feature-3::after,
    .feature-4::after {
        width: 15px;
    }
}